<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async
          src="https://www.googletagmanager.com/gtag/js?id=UA-96912056-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-96912056-7');
    </script>
    <title>P-engine Nasty Videos</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
</head>
<body>
    <div id="help">
        <pre>

    Prueba esta herramienta en tu cel o usando varios monitores.

    Hotkeys:
        F11    = pantalla completa.
        Enter  = busqueda.
        +/-    = volumen.

        c    = Controles encendido/apagado.
        h    = Ayuda.
        m    = Mute encendido/apagado.
        p    = Pausa / continuar.
        r    = Cargar el resultado de la busquedaa
               en todos los reproductores.

    Flechas:
        izquierda  = retroceder 30s.
        derecha    = avanzar 30s.
        abajo      = ir al principio del video.
        arriba     = ir al final del video.

    Números:
        Cargan el resultado de la busqueda en el reproductor:
            1 = superior izquierdo.  2 = superior derecho.
            3 = inferior izquierdo.  4 = inferior izquierdo.
        </pre>
    </div>
    <input type="text" id="search_box" size="20" placeholder="que buscas?">
    <div id="controls">
        <input type="range" min="0" max="1" value="1" step=".01" class="slider" id="volume">
        <div id="main_buttons">
            <button id="toggle_mute"><i class="fas fa-volume-mute"></i></button>
            <button id="toggle_pause"><i class="fas fa-pause"></i></button>
            <button id="beginning"><i class="fas fa-step-backward"></i></button>
            <button id="fast_reverse"><i class="fas fa-backward"></i></button>
            <button id="fast_forward"><i class="fas fa-forward"></i></button>
            <button id="end"><i class="fas fa-step-forward"></i></button>
            <button id="reload"><i class="fas fa-sync-alt"></i></button>
            <button id="toggle_search"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div id="vid_grid">
        {% for i in range(cols * rows) %}
        <div class="vid_container">
            <video controls muted autoplay loop></video>
            <button id="{{ i + 1 }}" style="z-index: 1;position:absolute;right:0;top:0;"><i class="fas fa-redo-alt"></i></button>
        </div>
        {% endfor %}
    </div>
<script>
    const cols =2;
    const rows =2;
    const results = {{ results }};
    const length = {{ length }};
    var search = "{{ search }}";
</script>
<script src="/static/control.js"></script>
</body>
</html>